<h1>Congratulations</h1>
<ul>
  <li>
    <a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=8b261aff-c1c6-40d1-9c0c-0e71ca9c88be"
      target="_blank">
      <h3>Angular Certifikası</h3>
    </a>
    <em>100</em>
  </li>

  <li>
    <a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=dR65Vg0V" target="_blank">
      <h3>JAVA İle Programlamaya Giriş</h3>
    </a>
    <em>80</em>
  </li>

  <li>
    <a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=7776994f-9c39-4697-8c72-67c32cd9e902"
      target="_blank">
      <h3>İleri Seviye Java</h3>
    </a>
    <em>84</em>
  </li>

  <li><a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=bYEpN6MO" target="_blank">
      <h3>Kotlin İle Android Mobil Uygulama Geliştirme Eğitimi Temel Seviye</h3>
    </a>
    <em>100</em>
  </li>
</ul>
