<!-- <h3>Tables</h3>
<app-table-example></app-table-example>
<hr>

<h3>Directives</h3>
<app-directives></app-directives>
<hr>

<h3>Bindings</h3>
<app-product></app-product>
<hr>

<h3>Todo App Example</h3>
<app-todo></app-todo>
<hr>

<h3>App Movies</h3>
<app-movies></app-movies>
<app-logging></app-logging>
<hr>

<h3>NavBar</h3>
<app-navbar></app-navbar>
<hr> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
